repos:
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [--strict, -c, .yamllint]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.19.0
    hooks:
      - id: markdownlint-cli2
