apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 15m
  chart:
    spec:
      chart: traefik
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik
      version: "37.4.0"
  values:
    providers:
      kubernetesIngress:
        publishedService:
          enabled: true
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.homelab`)
        entryPoints:
          - web
    service:
      ipFamilyPolicy: "PreferDualStack"
      annotations:
        metallb.io/address-pool: ingress-pool
