apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cnpg-cluster
resources:
  - namespace.yaml
  - databases.yaml
  - scrapy-db-secret.sops.yaml
  - blocky-db-secret.sops.yaml
  - paperless-db-secret.sops.yaml
  - cnpg-minio-secret.sops.yaml
  - cnpg-superuser-password.sops.yaml
  - mealie-db-secret.sops.yaml
  - cluster.yaml
  - pgbouncer.yaml
